@model IEnumerable<AvansTalepViewModel>

@{
    ViewData["Title"] = "Avanslar";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Adı Soyadı</th>
            <th>Açıklama</th>
            <th>Tutar</th>
            <th>Para Birimi</th>
            <th>Talep Tarihi</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var avans in Model)
        {
            <tr>

                <td>@avans.Aciklama</td>
                <td>@avans.Tutar</td>
                <td>@avans.ParaBirimi</td>
                <td>@avans.TalepTarihi.ToShortDateString()</td>
                <td>
                    <a asp-action="AvansGuncelle" asp-route-id="@avans.Id" class="btn btn-primary">Güncelle</a>
                    <a asp-action="AvansSil" asp-route-id="@avans.Id" class="btn btn-danger" onclick="return confirm('Bu avansı silmek istediğinizden emin misiniz?');">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>